
*{
    margin: 0;
}
body{
    background: url(fundo.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.barra-tarefa{
    position: absolute;
    bottom: 0;
    background:black;
    width: 100%; /*Largura*/
    height: 170px;/*Alura*/
    opacity: 0.9;
    padding-bottom:15px;

    
}
.barra-tarefa   img{
    
    padding: 40px;
    margin-left: 20px;
    width: 115px;
    height:115px

}

.barra-tarefa .lupa{
    margin-top:10px;
    margin-left:40px;
    width: 115px;
    height:115px
}

.barra-tarefa .drive,.barra-tarefa .node, .barra-tarefa .edge, .barra-tarefa  .visual{
    width: 120px;
    height:120px
}

.vs .coide{
    width:40%;
    right:0;
    position:absolute;
    
}
